# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

# VS Code
.vscode/

# Test results
test-output/
build/allure-results/
build/allure-report/
screenshots/

# OS
.DS_Store
Thumbs.db

# Logs
*.log